*{
    margin: 0;
    padding: 0;
}

.form{
    margin: 10px auto;
    padding: 20px;
    height: 80vh;
    width: 500px;
    border-radius: 20px;
}

form{
    margin: 10px 100px;
}

.select_country{
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    width: 30%;
    height: 25px;

}

.operators{
    text-align: left;
    margin: 0 40%;
    width: 100px;
}

input{
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    padding: 1px 5px;
    margin: 2px 0;
    border-radius: 10px;
}

input:focus , select:focus{
    background-color: rgba(0, 0, 0, 0.1);
}

.radio{
    margin: 2px 2px;
    width: 25px;
    display: inline;
}

label.radio{
    position: relative;
    top:-7px;
}
.phoneInput{
    display: inline-block;
    width: 70%;
}

input[type='submit']:enabled{
    background-color: rgb(114, 255, 114);
}

input[type='submit']:disabled{
    background-color: grey;
    color: white;
}

input[type='submit']:active{
    background-color: rgb(221, 255, 72);
}

.password_alert{
    color: grey;
}